services:
  con-blog-fe:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    env_file:
      - ./frontend/.env

  con-blog-be:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 9090:9090
# docker-compose up
